[default]
name = default
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = {{ .chezmoi.username }}
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = default
resource_id = 
subdomain = 
role_arn = 
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[ecpcpcloudaccount]
name = ecpcpcloudaccount
aws_profile = ecpcpcloudaccount
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = {{ .chezmoi.username }}
role_arn = arn:aws:iam::053779500980:role/Admin
provider = Okta
mfa = PUSH
skip_verify = false
app_id = 
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
resource_id = 
subdomain = 
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = false

[hicore-sandbox]
name = hicore-sandbox
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = {{ .chezmoi.username }}
provider = Okta
mfa = PUSH
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = hicore-sandbox
resource_id = 
subdomain = 
role_arn = arn:aws:iam::168715382829:role/Admin
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = false

[eit-hicore-virtualization-sandbox]
name = eit-hicore-virtualization-sandbox
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = {{ .chezmoi.username }}
provider = Okta
mfa = PUSH
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = eit-hicore-virtualization-sandbox
resource_id = 
subdomain = 
role_arn = arn:aws:iam::472168774908:role/Admin
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[runtimects-test]
name = runtimects-test
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = {{ .chezmoi.username }}
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = runtimects-test
resource_id = 
subdomain = 
role_arn = arn:aws:iam::782273268637:role/Admin
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[runtime-test]
name = runtime-test
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = {{ .chezmoi.username }}
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = runtime-test
resource_id = 
subdomain = 
role_arn = arn:aws:iam::344791879147:role/Admin
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[runtimects-prod]
name = runtimects-prod
app_id = 
oldurl = http://ssodecaf-aws.expedia.com/
url = https://expediagroup.okta.com/home/amazon_aws/0oabxth5ywMofbFqo357/272
username = {{ .chezmoi.username }}
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = runtimects-prod
resource_id = 
subdomain = 
role_arn = arn:aws:iam::259596320454:role/Admin
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[egdp-dev_sso-ha-infra]
name = egdp-dev_sso-ha-infra
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = {{ .chezmoi.username }}
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = egdp-dev_sso-ha-infra
resource_id = 
subdomain = 
role_arn = arn:aws:iam::672016901104:role/sso-ha-infra
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[egdp-test_sso-ha-infra]
name = egdp-test_sso-ha-infra
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = {{ .chezmoi.username }}
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = egdp-test_sso-ha-infra
resource_id = 
subdomain = 
role_arn = arn:aws:iam::592318062153:role/sso-ha-infra
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[egdp-stage_sso-ha-infra]
name = egdp-stage_sso-ha-infra
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = {{ .chezmoi.username }}
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = egdp-stage_sso-ha-infra
resource_id = 
subdomain = 
role_arn = arn:aws:iam::044815873833:role/sso-ha-infra
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[egdp-analytics_sso-ha-infra]
name = egdp-analytics_sso-ha-infra
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = {{ .chezmoi.username }}
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = egdp-analytics_sso-ha-infra
resource_id = 
subdomain = 
role_arn = arn:aws:iam::927134741764:role/sso-ha-infra
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[egdp-datawarehouse_sso-ha-infra]
name = egdp-datawarehouse_sso-ha-infra
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = egdp-datawarehouse_sso-ha-infra
resource_id = 
subdomain = 
role_arn = arn:aws:iam::387910953075:role/sso-ha-infra
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[egdp-prod_sso-ha-infra]
name = egdp-prod_sso-ha-infra
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oabxth5ywMofbFqo357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = egdp-prod_sso-ha-infra
resource_id = 
subdomain = 
role_arn = arn:aws:iam::112945290135:role/sso-ha-infra
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[egdp-prod_readonly]
name = egdp-prod_readonly
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oabxth5ywMofbFqo357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = egdp-prod_readonly
resource_id = 
subdomain = 
role_arn = arn:aws:iam::112945290135:role/ReadOnly
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[ha-mgmt_sso-ha-infra]
name = ha-mgmt_sso-ha-infra
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = ha-mgmt_sso-ha-infra
resource_id = 
subdomain = 
role_arn = arn:aws:iam::478614306837:role/sso-ha-infra
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[ha-dev_sso-ha-infra]
name = ha-dev_sso-ha-infra
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = ha-dev_sso-ha-infra
resource_id = 
subdomain = 
role_arn = arn:aws:iam::575835809734:role/sso-ha-infra
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[dev_sso-ha-infra]
name = dev_sso-ha-infra
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = dev_sso-ha-infra
resource_id = 
subdomain = 
role_arn = arn:aws:iam::575835809734:role/sso-ha-infra
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[ha-test_sso-ha-infra]
name = ha-test_sso-ha-infra
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = ha-test_sso-ha-infra
resource_id = 
subdomain = 
role_arn = arn:aws:iam::588074183790:role/sso-ha-infra
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[ha-stage_sso-ha-infra]
name = ha-stage_sso-ha-infra
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = ha-stage_sso-ha-infra
resource_id = 
subdomain = 
role_arn = arn:aws:iam::551026983921:role/sso-ha-infra
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[ha-prod_sso-ha-infra]
name = ha-prod_sso-ha-infra
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oabxth5ywMofbFqo357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = ha-prod_sso-ha-infra
resource_id = 
subdomain = 
role_arn = arn:aws:iam::888460199830:role/sso-ha-infra
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[ewe-test]
name = ewe-test
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = ewe-test
resource_id = 
subdomain = 
role_arn = arn:aws:iam::408096535527:role/EWETEST_ReadOnly
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[ewe-test_EWETEST_ReadOnly]
name = ewe-test_EWETEST_ReadOnly
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = ewe-test_EWETEST_ReadOnly
resource_id = 
subdomain = 
role_arn = arn:aws:iam::408096535527:role/EWETEST_ReadOnly
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[egstreaming-test]
name = egstreaming-test
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = egstreaming-test
resource_id = 
subdomain = 
role_arn = arn:aws:iam::341288143107:role/Admin
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[bexbigdata]
name = bexbigdata
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = bexbigdata
resource_id = 
subdomain = 
role_arn = arn:aws:iam::040764703330:role/Admin
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[runtimecde-prodp]
name = runtimecde-prodp
app_id = 
oldurl = http://ssoexp-aws.expedia.com/
url = https://sapps-expediagroup.okta.com/home/amazon_aws/0oa8180uskyvkfUbW357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = runtimecde-prodp
resource_id = 
subdomain = 
role_arn = arn:aws:iam::119076921140:role/Admin
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[infrastructurects-test-ro]
name = infrastructurects-test-ro
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = infrastructurects-test-ro
resource_id = 
subdomain = 
role_arn = arn:aws:iam::334023508630:role/ReadOnly
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[infrastructurects-test]
name = infrastructurects-test
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = infrastructurects-test
resource_id = 
subdomain = 
role_arn = arn:aws:iam::334023508630:role/PowerUser
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[infrastructurects-corp]
name = infrastructurects-corp
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = infrastructurects-corp
resource_id = 
subdomain = 
role_arn = arn:aws:iam::691121073341:role/PowerUser
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[infrastructurects-corp-ro]
name = infrastructurects-corp-ro
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oa2mb7o2guMuY9lG357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = infrastructurects-corp-ro
resource_id = 
subdomain = 
role_arn = arn:aws:iam::691121073341:role/ReadOnly
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[infrastructurects-prod]
name = infrastructurects-prod
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oabxth5ywMofbFqo357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = infrastructurects-prod
resource_id = 
subdomain = 
role_arn = arn:aws:iam::495938110899:role/PowerUser
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[infrastructurects-prod-ro]
name = infrastructurects-prod-ro
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oabxth5ywMofbFqo357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = infrastructurects-prod-ro
resource_id = 
subdomain = 
role_arn = arn:aws:iam::495938110899:role/ReadOnly
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

[egdataplatform-dw]
name = egdataplatform-dw
app_id = 
url = https://expediagroup.okta.com/home/amazon_aws/0oabxth5ywMofbFqo357/272
username = davide
provider = Okta
mfa = Auto
skip_verify = false
timeout = 0
aws_urn = urn:amazon:webservices
aws_session_duration = 3600
aws_profile = egdataplatform-dw
resource_id = 
subdomain = 
role_arn = arn:aws:iam::872193204297:role/ReadOnly
region = 
http_attempts_count = 
http_retry_delay = 
credentials_file = 
saml_cache = false
saml_cache_file = 
target_url = 
disable_remember_device = false
disable_sessions = true

http_attempts_count     =
http_retry_delay        =
credentials_file        =
saml_cache              = false
saml_cache_file         =
target_url              =
disable_remember_device = false
disable_sessions        = true

[expeso]
name                    = expeso
app_id                  =
url                     = https://sapps-expediagroup.okta.com/home/amazon_aws/0oa8180uskyvkfUbW357/272
username                = davide
provider                = Okta
mfa                     = OKTA
skip_verify             = false
timeout                 = 0
aws_urn                 = urn:amazon:webservices
aws_session_duration    = 3600
aws_profile             = expeso
resource_id             =
subdomain               =
role_arn                =
region                  =
http_attempts_count     =
http_retry_delay        =
credentials_file        =
saml_cache              = false
saml_cache_file         =
target_url              =
disable_remember_device = false
disable_sessions        = true
